body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.cv1 {
    pointer-events: none;
    height: 500px;
    background-image: url("/data/cv1.png");
}
.cv2 {
    pointer-events: none;
    height: 500px;
    background-image: url("/data/cv2.png");
}

.contrast-color {
    background-color: #ffb69f !important;
}
.contrast-text {
    color: #ffb69f !important;
}

::selection {
    background: #ffb69f;
    color: #233;
}
::-moz-selection {
    background: #ffb69f;
    color: #233;
}
::-o-selection {
    background: #ffb69f;
    color: #233;
}
::-ms-selection {
    background: #ffb69f;
    color: #233;
}
::-webkit-selection {
    background: #ffb69f;
    color: #233;
}