<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css etc. -->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" media="screen,projection" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Timon Platz - {% block title %}{% endblock %}</title>
</head>

<body class="blue-grey darken-4">
    <!-- navbar -->
    <nav class="blue-grey darken-3">
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo center contrast-text">Timon Platz</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li {% block homeActive %}{% endblock %} ><a href="{{ url_for('home') }}">Home</a></li>
                <li {% block cvActive %}{% endblock %} ><a href="{{ url_for('cv') }}">CV</a></li>
                <li {% block projectsActive %}{% endblock %} ><a href="{{ url_for('projects') }}">Projects</a></li>
            </ul>

            <a href="." data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="sidenav blue-grey darken-3" id="mobile-demo">
                <li {{ self.homeActive() }} ><a href="{{ url_for('home') }}" class="white-text">Home</a></li>
                <li {{ self.cvActive() }} ><a href="{{ url_for('cv') }}" class="white-text">CV</a></li>
                <li {{ self.projectsActive() }} ><a href="{{ url_for('projects') }}" class="white-text">Projects</a></li>
            </ul>
        </div>
    </nav>

    <!-- main -->
    {% block main %}
    {% endblock %}

    <!-- footer -->
    <footer class="page-footer blue-grey darken-4">
        <div class="footer-copyright blue-grey darken-3">
            <div class="container">
                {{ now.year }} Timon Platz
                <a href="mailto:timon.platz@gmail@@com" onclick="this.href=this.href.replace('@@','.')" class="contrast-text right">Contact</a>
            </div>
        </div>
    </footer>

    <!-- scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/init.js') }}"></script>
</body>
</html>