/*
 * Misc
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: overlay;
}
main {
    flex: 1 0 auto;
}
img {
    pointer-events: none;
}

/*
 * Make the scrollbar overlay to prevent resizing of the page
 * Only works with some browsers
 */
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-thumb {
    background-color: #7b7d7f;
}
body::-webkit-scrollbar-track {
    position: absolute;
    right: -3rem;
    top: -50rem;
    background: transparent;
}

/*
 * Change the looks of the password input element
 */
input[type=password]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0 1px 0 0 white;
    box-shadow: 0 1px 0 0 white;
    font-size:26px;
    color: white;
}
input[type=password]:not(.browser-default) {
    margin-bottom: 15px;
    font-size:26px;
    color: white;
}

/*
 * Add another color
 */
.contrast-color {
    background-color: #ffb69f !important;
}
.contrast-text {
    color: #ffb69f !important;
}

/*
 * Change text selection color
 */
::selection {
    background: white;
    color: #233;
}
::-moz-selection {
    background: white;
    color: #233;
}
::-o-selection {
    background: white;
    color: #233;
}
::-ms-selection {
    background: white;
    color: #233;
}
::-webkit-selection {
    background: white;
    color: #233;
}
.contrast-text::selection {
    background: #ffb69f;
    color: #233;
}
.contrast-text::-moz-selection {
    background: #ffb69f;
    color: #233;
}
.contrast-text::-o-selection {
    background: #ffb69f;
    color: #233;
}
.contrast-text::-ms-selection {
    background: #ffb69f;
    color: #233;
}
.contrast-text::-webkit-selection {
    background: #ffb69f;
    color: #233;
}

/*
 * Fade out element
 */
.fade-out {
    -moz-animation: fadeout 3s linear forwards;
    -o-animation: fadeout 3s linear forwards;
    -ms-animation: fadeout 3s linear forwards;
    -webkit-animation: fadeout 3s linear forwards;
    animation: fadeout 3s linear forwards;
}
@-moz-keyframes fadeout {
    0% { opacity: 1; visibility: visible;}
    80% { opacity: 1; visibility: visible;}
    100% { opacity: 0; visibility: hidden;}
}
@-webkit-keyframes fadeout {
    0% { opacity: 1; visibility: visible;}
    80% { opacity: 1; visibility: visible;}
    100% { opacity: 0; visibility: hidden;}
}
@-ms-keyframes fadeout {
    0% { opacity: 1; visibility: visible;}
    80% { opacity: 1; visibility: visible;}
    100% { opacity: 0; visibility: hidden;}
}
@keyframes fadeout {
    0% { opacity: 1; visibility: visible;}
    80% { opacity: 1; visibility: visible;}
    100% { opacity: 0; visibility: hidden;}
}

/*
 * Add a larger margin for headers
 */
.header {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*
 * Add a background image
 */
.circuit-background {
    background: url('/Portfolio/staticatic/png/circuit.png') no-repeat bottom left;
    background-size: max(200px, 30vw);
}

/*
 * Add some text variants
 */
.white-text-x-large{
    color:#fff !important;
    font-size: x-large;
}
.red-text-large{
    color:#e51c23 !important;
    font-size: large;
}