{% extends 'base.html' %}

{% block main %}
<main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h2 class="header center contrast-text">Welcome to my website!</h2>
            <div class="row center">
                <h5 class="header col s12 light white-text">I am a computer science student at the Technical University of Munich with a passion for digital ciruit design.</h5>
                <h5 class="header col s12 light white-text">Here, you will find some further information about myself, as well as a few personal projects.</h5>
            </div>
        </div>
    </div>
</main>
{% endblock %}