{% extends 'base.html' %}

{% block title%} CV {% endblock %}
{% block cvActive %} class="active" {% endblock %}

{% block main %}
<main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h2 class="header center contrast-text">A brief summary of mine</h2>
        </div>

        <!-- login -->
        <div class="container">
            <div class="row">
                {% if 'auth' not in session or not session['auth'] %}
                    <div class="col s8 offset-s2 m4 offset-m4 l4 offset-l4">
                        <form method="POST" action="{{ url_for('auth') }}">
                            <label for="password" class="white-text-x-large">Password:</label><input type="password" name="password" id="password"><br>
                            <button class="btn waves-effect waves-light contrast-color black-text" type="submit" name="submit">Submit</button>
                        </form>
                        {% if 'auth' in session and not session['auth'] %}
                            <p class="s6 red-text-large darken-4 fade-out">Invalid password</p>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="col s8 offset-s2 m10 offset-m1 l6 offset-l3">
                        Success!
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}